header{
  display: flex;
  justify-content: center;
  background-color: #000d1a;
  position: relative;

}

.details {
  top: -22px;
  text-align: center;
  color: azure;
 
}

/* div{
  width: auto;
  display:-ms-inline-grid;
} */

.sec{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap:5px;
  /* align-items:flex-end ; */
  /* justify-content: space-around; */
  
}

.spec{
  grid-gap: 20px;
  white-space:nowrap;
  
}

.header {
  background-color: #ebebe0;
  text-align: center;
 
  top: -22px;
}

.pro{
  text-indent: 30px;
 

}


.per{
  justify-content: center;
  position: relative;
}


.eheader {
  font-weight: 600;
 
  text-align: center;
  position: relative;
  
  bottom: 70px;
  margin-left: 80px;
  
}

.sch {
 
  text-align: center;
  /* display: grid; */
  font-style: italic;
  bottom: 70px;
  text-indent: 50px;
  /* padding: 10px; */
  position: relative;
}
/* 
.exp {
 
  list-style-position: outside;
  
} */

.exp1 {
 
  margin-top: -30px;
  
}

.ref {
 
  font-weight: bold;
}
